doctype html
html
    include partials/header.pug
    div
        each actualite in actualites
            div.center
                div.flex-column.marginBottom.animate-on-scroll(data-index=`${actualite.id}`)
                    img.pic.actus(src=`/actus/${actualite.picpath}`, alt='Affiche')
                    p.noMargin=actualite.titre
                    p.subText.noMargin.text-center.midWidth=actualite.description
                    if admin==1
                        div.lilMarginTop
                            a.redButton.subText(href=`/supprimer-actualite/${actualite.id}`) Supprimer
    div.center
        if totalPages > 1
            div
                each page in Array.from({ length: totalPages }, (_, i) => i + 1)
                    a.subText.pageButton(href=`/actus?page=${page}`)= page
    include partials/footer