doctype html
html
    include partials/header.pug
    each affiche in affiches
        div.center
            img.pic.affiche(src=`/affiches/${affiche.picpath}`, alt='Affiche')
            div.blockInfo
                h2= affiche.titre
                p= affiche.description
                p.subText= affiche.date_fin
                form(method='POST', action=`/affiche/delete/${affiche.id}`)
                    button.redButton(type='submit') Supprimer
    include partials/footer