doctype html
html
    include partials/header.pug
    div.center
        div.fullBlueTop
    div.center
        h2 Associations
    div.center
        div.blockInfoLarge
            div.marginBottom
            each association in associations
                h3= association.nom
                p.subText= association.description
                p Président(e)
                    span.subText.marginLeft= association.president
                if association.adresse
                    p Adresse
                        span.subText.marginLeft= association.adresse
                p Coordonnées
                    span.subText.marginLeft= association.coordonnees
                if admin == 1
                    form(action=`/associations/delete/${association.id}`, method='post')
                        button.subText.red(type='submit') Supprimer
                div.marginBottom

    if admin == 1
        div.center
            div.formulaire
                h1 Ajout d'une association
                p.subText * Toutes les données avec une étoile ne sont pas requises
                form.form(action='/associations', method='post')
                    p nom de l'association
                    input.input(type='text', id='nom', name='nom', required)
                    p description
                    textarea.input.textArea(id='description', name='description', required)
                    p président
                    input.input(type='text', id='president', name='president', required)
                    p * adresse
                    input.input(type='text', id='adresse', name='adresse')
                    p coordonnée
                        span.subText  (numéro de téléphone, adresse mail ou les deux)
                    input.input(type='text', id='coordonnee', name='coordonnee', required)
                    div.center
                        button.submitForm(type='submit') Envoyer
    include partials/footer
