doctype html
html
    include partials/header.pug
    div.backWhite.animate-on-scroll
        div.center.animate-on-scroll
            img.pic.largeWidth(src="/images/home.png")
        h2.nextPart.largeMarginLeft.animate-on-scroll L'agenda

        div.affiches-section
            div#affichesContainer
                div#affichesWrapper
                    each affiche in affiches
                        div.flex-column(data-index=`${affiche.id}`)
                            a(href=`/affiche/${affiche.id}`)
                                img.pic.affiche.animate-on-scroll(src=`/affiches/${affiche.picpath}`, alt='Affiche')
                            a.lilMarginTop.subText #{affiche.date_fin}
            div#scrollButtonsContainer.marginTop.center2.animate-on-scroll
                button#scrollLeft
                    i.fas.fa-angle-left
                button#scrollRight
                    i.fas.fa-angle-right

        script.
            const affichesContainer = document.getElementById('affichesContainer');
            const affiches = document.querySelectorAll('.flex-column');
            const scrollLeft = document.getElementById('scrollLeft');
            const scrollRight = document.getElementById('scrollRight');

            let currentIndex = 0;

            scrollLeft.addEventListener('click', function () {
                currentIndex = Math.max(0, currentIndex - 1);
                smoothScrollToIndex(currentIndex);
            });

            scrollRight.addEventListener('click', function () {
                currentIndex = Math.min(affiches.length - 1, currentIndex + 1);
                smoothScrollToIndex(currentIndex);
            });

            function smoothScrollTo(element, targetPosition, duration = 1000, easing = 'cubic-bezier(0.42, 0, 0.58, 1)') {
                const startPosition = element.scrollLeft;
                const distance = targetPosition - startPosition;
                let startTime = null;

                function animation(currentTime) {
                    if (startTime === null) startTime = currentTime;
                    const timeElapsed = currentTime - startTime;
                    let progress = timeElapsed / duration;

                    if (progress > 1) progress = 1;

                    const easingFunction = (t) => --t * t * t + 1;

                    const easedProgress = easingFunction(progress);
                    element.scrollLeft = startPosition + distance * easedProgress;

                    if (progress < 1) requestAnimationFrame(animation);
                }

                requestAnimationFrame(animation);
            }

            function smoothScrollToIndex(index) {
                const targetElement = affiches[index];
                const targetPosition = targetElement.offsetLeft;

                smoothScrollTo(affichesContainer, targetPosition); // Appeler la fonction smoothScrollTo() au lieu de affichesContainer.scrollTo()
            }
    if admin==1
        div.center.marginTop.animate-on-scroll-zoom
            a.whiteButton(href="/ajoutAffiche") Ajouter une affiche
    h2.nextPart.largeMarginLeft.animate-on-scroll.marginBottom Informations
    div.center.tel.animate-on-scroll-zoom
        div.block.centerV.marginLeft
            div.marginLeft.marginTop
                p.green.lilMarginBottom horaires de la mairie
                br
                div.lilMarginBottom
                    p.noMargin Lundi
                    p.subText.noMargin 09h00 - 12h00 et 13h30 - 17h30
                div.lilMarginBottom
                    p.noMargin Mardi
                    p.subText.noMargin 09h00 - 12h00
                div.lilMarginBottom
                    p.noMargin Mercredi
                    p.subText.noMargin 09h45 - 12h00
                div
                    p.noMargin vendredi
                    p.subText.noMargin 14h30 - 16h30
        div.block.centerV
            div.marginLeft.marginTop
                p.red Coordonnées
                br
                div.lilMarginBottom
                    p.noMargin Adresse
                    p.subText.noMargin Pl. du 17 Août, 80430 Liomer
                div.lilMarginBottom
                    p.noMargin Téléphone
                    p.subText.noMargin à remplir
                div.lilMarginBottom
                    p.noMargin E-mail
                    p.subText.noMargin à remplir
            div.center
                a.subText.redButton(href="/contacter") nous contacter
            div.center.marginBottom.lilMarginTop
                if admin == 1
                    a.subText.red(href="/moderation") voir les messages
        div.block.centerV
            div.marginLeft.marginTop
                p.blue Évènement à venir
                br
                if events.length > 0
                    div.lilMarginBottom
                        each event in events
                            div.event.lilMarginTop
                                p.noMargin #{event.nom}
                                p.subText.noMargin #{event.date}
                                if admin == 1
                                    form(method='POST', action=`/evenement/${event.id}/supprimer`)
                                        button.delete-event-btn(type='submit') supprimer
                else
                    div.lilMarginBottom.marginTop
                        p.subText.noMargin Aucun évènement à venir
            if admin == 1
                div.center
                    p.subText.blueButton#add-event-btn +
                div.center
                    form#add-event-form(style='display: none;' , action='/evenement', method='post')
                        div.marginLeft
                            p.subText Date
                            input.input(type='date', name='event-date')
                            p.subText Nom de l'évènement
                            input.input(type='text', name='event-name')
                        div.center.marginBottom
                            button.submitForm(type='submit') Ajouter
        script.
            const addEventBtn = document.getElementById('add-event-btn');
            const addEventForm = document.getElementById('add-event-form');
            addEventBtn.addEventListener('click', () => {
                if (addEventForm.style.display === 'none') {
                    addEventForm.style.display = 'block';
                } else {
                    addEventForm.style.display = 'none';
                }
            });
    h2.nextPart.largeMarginLeft.animate-on-scroll Actualités
    each actualite in actualites
        div.flex-column.marginBottom.animate-on-scroll(data-index=`${actualite.id}`)
            img.pic.actus(src=`/actus/${actualite.picpath}`, alt='Affiche')
            p.noMargin=actualite.titre
            p.subText.noMargin.text-center.midWidth=actualite.description
        div.center.marginTop.animate-on-scroll-zoom
            a.whiteButton(href="/actus") Voir plus
    if admin == 1
        div.center.marginTop.animate-on-scroll-zoom
            a.whiteButton(href="/ajoutActu") Ajouter une actualité
    include partials/footer