doctype html
html
    include partials/header.pug
    div.center2
        div.blueTop
        div.blueTop.whiteTop
        div.blueTop.redTop
    div.center2
        h2 La mairie
    div.center.align-items-center
        img.pic.largeWidth(src=`/images/${mairieImage}`, alt='Image de la mairie')
    if admin == 1
        div.center
            p.subText.blueButton#editImageButton modifier l'image
        form#imageForm.form(action='/envoyerPhoto/2', method='post', enctype='multipart/form-data', style='display: none;')
            div.center2
                p changer l'image
            div.center2
                p.subText * uniquement png jpg ou jpeg
            div.center2
                .custom-file-upload
                    input#fileInput(type='file', name='file', accept='image/png, image/jpeg, image/jpg', required)
                    label(for='fileInput') +
            div.center2
                button.submitForm(type='submit') Envoyer
    script.
        //afficher le formulaire de modification de l'image
        const editImageButton = document.getElementById('editImageButton');
        const imageForm = document.getElementById('imageForm');

        editImageButton.addEventListener('click', function () {
            if (imageForm.style.display === 'none') {
                imageForm.style.display = 'block';
            } else {
                imageForm.style.display = 'none';
            }
        });

        // envoyer l'image dans la base de donnée
        const fileInput = document.querySelector('#fileInput');
        const label = document.querySelector('.custom-file-upload label');

        fileInput.addEventListener('change', () => {
            const fileName = fileInput.files[0].name;
            label.textContent = fileName;
        });
    div.center
        div.blockInfo.centerV
            div
                div.center
                    p.green.lilMarginBottom horaires de la mairie
                    br
                each horaire in horaires
                    div.lilMarginBottom.center.flex-column
                        p.noMargin= horaire.jour
                        p.subText.noMargin= horaire.heures
    div.center
        div.blockInfoLarge
            p.marginLeft Présentation
            p.subText.marginLeft Liomer est une commune de la Somme, située en région Hauts-de-France. En 2021, elle comptait 386 habitants répartis sur une superficie de 3,89 km². Cette charmante localité est traversée par le Liger qui suit son chemin vers Brocourt et Lequesne, les villages voisins.
            p.marginLeft Fait historique notable
            p.subText.marginLeft Le 17 août 1944, les populations de Liomer et Brocourt sont malmenées. Les deux villages sont entourés par des troupes dirigées par des SS, aux premières heures du jour. Les femmes, les personnes âgées et les enfants sont regroupés dans la cour de l'hôtel de ville par l'occupant allemand. Les hommes sont rassemblés sur la place pour être emprisonnés à Amiens. Les villageois qui tentent de fuir sont abattus. L'abbé Michel Lyonneau, parlant allemand, entreprendra des négociations qui permettront la libération des personnes arrêtées. (wikipédia)
            p.subText.marginLeft Une rue a été baptisée en son honneur pour son acte de bravoure.

    div.center
        div.blockInfoLarge
            h3 Compte rendu des réunions
            each compteRendu in comptesRendus
                p Compte rendu du
                    span.blue= ` ${compteRendu.date_creation} `
                    a(href=`/compte_rendu/${compteRendu.filePath}`)
                        button.subText.blue Télécharger
                    if admin==1
                        form(method="POST", action=`/mairie/supprimer/${compteRendu.id}`)
                            button.subText.red Supprimer
                div.marginBottom
            if admin == 1
                form.form(action='/envoyerCompteRendu', method='post', enctype='multipart/form-data')
                    div.center
                        p.noMargin ajouter un compte rendu
                    div.center.marginBottom
                        p.subText.noMargin * de préférence en pdf
                    div.center
                        .custom-file-upload
                            input#fileInput(type='file', name='file', accept='image/png, image/jpeg, image/jpg, application/pdf', required)
                            label(for='fileInput') +
                    div.center.lilMarginTop
                        input.input(type='date', id='date', name='date_creation', required)
                    div.center
                        button.submitForm(type='submit') Envoyer
    div.center
        div.blockInfoLarge
            h3 Élus
            each elu in elus
                if (elu.role == 1)
                    h3=`Maire : ${elu.prenom} ${elu.nom}`
                if (elu.role == 2)
                    p=`Premier adjoint : ${elu.prenom} ${elu.nom}`
                if (elu.role == 3)
                    p=`Second adjoint : ${elu.prenom} ${elu.nom}`
                if (elu.role == 4)
                    p.subText=`Conseiller(e) municipal : ${elu.prenom} ${elu.nom}`
                if admin==1
                    a.red.subText(href=`/supprimerElus/${elu.id}`) Supprimer
            if admin==1
                    h1 Ajouter un(e) Élu(e)
                    p.subText * Toutes les données ci-dessous sont requises
                    form.form(action='/ajouterElu', method='post')
                        p prénom
                        input.input(type='text', id='prenom', name='prenom', required)
                        p nom
                        input.input(type='text', id='nom', name='nom', required)
                        p rôle
                        select#role(name='role', required)
                            option(value='') -- Sélectionnez un rôle --
                            option(value='1') Maire
                            option(value='2') Premier adjoint
                            option(value='3') Second adjoint
                            option(value='4') Conseiller municipal
                        div.center
                            button.submitForm(type='submit') Envoyer

    div.largeMarginLeft
        h3 Photos
        div.center.allWidth
            img.image(src="images/mairie_cote.jpg" alt="mairie" title="mairie")
            img.image(src="images/mairie_face.jpg" alt="mairie" title="mairie")
            img.image(src="images/mairie_vert.jpg" alt="mairie" title="mairie")
            img.image(src="images/mairieInt1.jpg" alt="mairie" title="mairie")
            img.image(src="images/mairieInt2.jpg" alt="mairie" title="mairie")
            img.image(src="images/poste2.jpg" alt="l'agence postale" title="l'agence postale")
            img.image(src="images/poste1.jpg" alt="l'agence postale" title="l'agence postale")
            img.image(src="images/ecole1.jpg" alt="école primaire" title="école primaire")
            img.image(src="images/ecole2.jpg" alt="école primaire" title="école primaire")
            img.image(src="images/ecole3.jpg" alt="école primaire" title="école primaire")
            img.image(src="images/ecole4.jpg" alt="école maternelle" title="école maternelle")
            img.image(src="images/frip1.jpg")
            img.image(src="images/frip2.jpg")
            img.image(src="images/frip3.jpg")
            img.image(src="images/frip4.jpg")
            img.image(src="images/frip5.jpg")
            img.image(src="images/frip6.jpg")
            img.image(src="images/frip7.jpg")
            img.image(src="images/frip8.jpg")
            img.image(src="images/frip9.jpg")
            img.image(src="images/frip10.jpg")
            img.image(src="images/frip11.jpg")
            img.image(src="images/frip12.jpg")
            img.image(src="images/frip13.jpg")
            img.image(src="images/frip14.jpg")
            img.image(src="images/frip15.jpg")
            img.image(src="images/sdf2.jpg")
            img.image(src="images/sdf3.jpg")
    script.
        const fileInput = document.querySelector('input[type="file"]');
        const label = document.querySelector('.custom-file-upload label');

        fileInput.addEventListener('change', () => {
            const fileName = fileInput.files[0].name;
            label.textContent = fileName;
        });

    include partials/footer
