doctype html
html
    include partials/header.pug
    div.center
        div.blockInfoLarge
            h2 Derniers messages
            each contact in contacts
                p.noMargin= contact.sujet
                p.subText.noMargin= contact.message
                p.subText Par
                    span.subText.blue= ` ${contact.prenom} `
                    span.subText.blue= `${contact.nom} `
                    span.subText= `( ${contact.mail} )`
                form(method='POST', action='/supprimerMessage', style='display: inline;')
                    input(type='hidden', name='id', value=contact.id)
                    button.subText.blue(type='submit') Lu
                div.marginBottom
    div.center
        div.formulaire
            h1 Changer les horaires de la mairie
            p.subText * Modifier uniquement les jours nécessaires
            form.form(action='/changerHoraire', method='post')
                each horaire in horaires
                    p=horaire.jour
                    input.input(type='text', id=horaire.jour, name=horaire.jour, required, value=horaire.heures)
                div.center
                    button.submitForm(type='submit') Envoyer
    div.center.lilMarginTop
        div.lilMarginTop
            a.redButton.subText(href='/logout') Je me déconnecte
    include partials/footer