doctype html
html
    include partials/header.pug
    div.center
        div.blockInfoLarge
            h2 Derniers messages
            each contact in contacts
                p.noMargin= contact.sujet
                p.subText.noMargin= contact.message
                p.subText Par
                    span.subText.blue= ` ${contact.prenom} `
                    span.subText.blue= `${contact.nom} `
                    span.subText= `( ${contact.mail} )`
                div.marginBottom
    div.center
        div.formulaire
            h1 Changer les horaires de la mairie
            p.subText * Modifier uniquement les jours nécessaires
            form.form(action='/changerHoraire', method='post')
                each horaire in horaires
                    p=horaire.jour
                    input.input(type='text', id=horaire.jour, name=horaire.jour, required, value=horaire.heures)
                div.center
                    button.submitForm(type='submit') Envoyer
    div.center
        div.formulaire
            h1 Envoyer un mail à la newsletter
            p.subText * Ce mail sera envoyé à toutes les personnes inscrites
            form.form(action='/envoyerMail', method='post')
                p sujet
                input.input(type='text', id='sujet', name='sujet', required)
                p contenu
                textarea.input.textArea(id='contenu', name='contenu', required)
                div.center
                    button.submitForm(type='submit') Envoyer
    div.center.lilMarginTop
        div.lilMarginTop
            a.redButton.subText(href='/logout') Je me déconnecte
    include partials/footer